  library(scater)
  library(SingleCellExperiment)
  library(tidyverse)
  library(matrixStats)
  library(glue)
  library(scran)
  library(glmnet)
  library(plyr)
  library(magrittr)
  library(caret)
  library(doParallel)
  library(stats)
  library(pROC)
  library(ROCR)
  library(scales)
  library(ggROC)
